/* #region common */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --za-header: #ff6900;
    --za-headertext: #e7e7e7;
    --za-card: #e7e7e7;
    --za-sustain: #008000;
    --za-discount: #ff0000;
    --za-footer: #1a1a1a;
}

body
{
    font-family: 'Roboto', sans-serif;
}

.container
{
    width: 80%;
    margin: auto;
}

.flex
{
    display: flex;
}

a
{
    text-decoration: none;
}

/* #endregion common */

/* #region header */

#app_header
{
    background-color: var(--za-header);
    padding: 0.5rem;
    vertical-align: middle;
    /* position: fixed; */
    width: 100%;
}

.col-h
{
    width: 100%;
}

.category
{
    width: 25%;
    align-items: center;
}

.category > a
{
    color: var(--za-headertext);
    padding-right: 0.5rem;
}

.logo
{
    text-align: center;
    width: 50%;
}

img
{
   width: 7rem;
}

.login
{
    width: 25%;
    color: var(--za-headertext);
    align-items: center;
    justify-content: flex-end;
}

.login > i
{
    padding-left: 0.5rem;;
}

/* #endregion header */

/* #region main */

#app_main
{
    padding-top: 5rem;
}

.col-3
{
    justify-content: space-between;
    flex-wrap: wrap;
}

.card
{
    width: calc(100% / 3 - 1rem);
    position: relative;
    margin-bottom: 3rem;
}

.card img
{
    width: 100%;
}

.card .brand
{
    font-size: 1rem;
}

.card .product
{
    font-size: 1.5rem;
}

.card .discount_price
{
    color: var(--za-discount);
    font-size: 1rem;
}

.card .old_price
{
    text-decoration: line-through;
}

.square
{
    position: absolute;
    align-items: center;
    justify-content: center;
}

.square.like
{
    background-color: white;
    top: 10px;
    right: 0;
    font-size: 1.5rem;
    padding: 1rem;
}

.square.discount_perc
{
    background-color: var(--za-discount);
    bottom: 100px;
    left: 0;
    font-size: 0.9rem;
    color: white;
    padding: 0.25rem 1rem;
}

.square.sustain
{
    background-color: var(--za-sustain);
    bottom: 100px;
    left: 70px;
    font-size: 0.9rem;
    color: white;
    padding: 0.25rem 1rem;
}




/* #endregion main */

/* #region footer */

/* #endregion footer */